@import 'includes/normalize';
@import 'includes/_colors';
@import 'includes/_typography';
@import 'includes/fonts';
@import 'includes/layout';
@import 'includes/toc';
@import 'includes/pid-idl';
@import 'includes/pid-attributes';
@import 'includes/md';
@import 'includes/sidebar';
@import 'includes/topbar';

.TODO {
    display: inline-block;
    background-color: $col-prim51;
    @include typo('text', $style:'italic');
    padding: 0 0.33em;
}

