@import "_colors.scss";
@import "_typography.scss";


.pid {

    padding: 1em 1em;
    background-color: $col-prim1-light;
    border-left: 0.5em solid $col-prim1;
    overflow: auto;

}

.pid-idl {

    & + .pid-idl {
        margin-top: 1.3em;
    }

    @include typo('monospace');

    em {
        @include typo('monospace', $style: 'italic');
    }

    strong {
        @include typo('monospace', $weight: 'bold');
    }

    ul {
        list-style-type: none;

        margin: 0;
        padding: 0;

        &.pid-idl__group {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        & > li {
            margin: 0;
            padding: 0 0 0 3em;
        }
    }

    &__pre-block {
        margin-bottom: 0.5em;
    }

    &__block {
    }

    &__group {
        display: table;
    }

    &__attr,
    &__func {
        display: table-row;
    }

    &__readonly,
    &__keyword,
    &__type,
    &__name,
    &__args,
    &__default {
        display: table-cell;
        padding-right: 0.75em;
        white-space: nowrap;
    }

    &__func-arg {
        white-space: nowrap;
    }

    &__readonly {
    }

    &__keyword {
    }

    &__optional {
        @include typo('monospace', $style: 'italic');
    }

    &__type-type {
        @include typo('monospace', $style: 'italic');
    }

    &__name {
        @include typo('monospace', $weight: 'bold');
    }

    &__args {
    }

    &__default-value {
    }

}

