
$col-white      : #fff;
$col-light      : #f8f8f8;
$col-gray-light : #cccccc;
$col-gray       : #949DA4;
$col-dark       : #404040;
$col-black      : #000;

$col-prim0       : #d0d0d0;                         // gray
$col-prim0-light : #f5f5f5;
$col-prim0-dark  : #888888;

$col-prim1       : #8CCBF2;                         // w3c blue
$col-prim1-dark  : #1796DA;                         // google blue
$col-prim1-light : lighten($col-prim1-dark, 45%);

$col-prim2       : #ca2166; // #da1156;             // pink!
$col-prim2-light : lighten($col-prim2, 25%);

$col-prim3       : #15978e;  // #009744;            // green
$col-prim3-light : lighten($col-prim3, 59%); // 66%);

$col-prim5       : #f0a030;                         // orange/yellow
$col-prim51      : #ffff44;                         // marker yellow

/*$col-prim6       : #a9274b;                         // topbar (compcat view) bg*/

