
// === typography styles ======== -------  --  -

$typoFontFamily: (
    text      : (Roboto, sans-serif),
    monospace : (Fira Mono, Menlo Consolas, DejaVu Sans Mono, monospace),
    headline  : (Lobster, cursive),
);

$typoFontWeight: (
    text: (
        normal : 400,
        bold   : 700
    ),
    monospace: (
        normal : 400,
        bold   : 700
    ),
    headline: (
        normal : normal,
        bold   : normal
    )
);

$typoFontStyle: (
    text: (
        normal : normal,
        italic : italic
    ),
    monospace: (
        normal : normal,
        italic : italic
    ),
    headline: (
        normal : normal,
        italic : italic
    )
);

$typoLineHeightRatio: (
    text      : 1.618,
    monospace : 1.8,
    headline  : 1.0
);

// === font sizes ======== -------  --  -

$fontSizeHeadline : 32px;
$fontSizeBigger   : 26px;
$fontSizeBig      : 21px;
$fontSizeNormal   : 16px;
$fontSizeSmall    : 14px;
$fontSizeTiny     : 12px;


@mixin typo($family:'text', $weight:'normal', $style:'normal', $decoration:none, $size:$fontSizeNormal) {
    font-family     : map-get($typoFontFamily, $family);
    font-weight     : map-get(map-get($typoFontWeight, $family), $weight);
    font-style      : map-get(map-get($typoFontStyle, $family), $style);
    text-decoration : $decoration;
    font-size       : $size;
    line-height     : $size * map-get($typoLineHeightRatio, $family);
}

