@import 'includes/_media_queries';
@import 'includes/_layout_vars';


html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    position: relative;
}

.nav-anchor {
    display: block;
    width: 0;
    height: 0;
    position: relative;

    @include compact-view {
        top: -80px;
        left: 0;
    }
}

.topbar {

    position: fixed;
    width: 100vw;
    height: $headerHeight;
    overflow: hidden;
    z-index: 100;

    transition: height 0.25s;

    color: $col-dark;

    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0, 0.42);

    /*background-color: rgba(255, 255, 255, 0.8);*/
    /*background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0.66) 100%);*/
    /*box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), 0 2px 0 rgba(255, 255, 255, 0.5);*/

    @include wide-view {
        display: none;
    }

}

.overlay .topbar {

    height: $headerExpandedHeight - 1px;

    box-shadow: none;
    border-bottom: 1px dashed $col-dark;

    .logo {
        width: 75vw;
        max-width: 272px;
        height: 100%;
    }

}

.sidebar {

    height: 100vh;
    width: $sidebarWidth+(2*$sidebarVertPad);

    @include compact-view {
        display: none;
    }

    position: relative;

    &__content {
        position: fixed;
        top: 0;
        bottom: 0;
        width: $sidebarWidth;
        padding: 0 $sidebarVertPad;

        overflow: auto;
        overflow-x: hidden;
        overflow-y: auto;
    }

}

.sidebar.overlay {

    position: fixed;
    top: $headerExpandedHeight;

    width: 100vw;
    z-index: 10;

    @include compact-view {
        display: block;
    }

    background-color: $col-white;

    /*.logo {*/
        /*display: none;  // XXX debug*/
        /*width: 75vw;*/
        /*max-width: 272px;*/
    /*}*/


    & > .sidebar__content {

        top: $headerExpandedHeight;

        width: 100vw;
        padding: 10px 0;

        & > .sidebar__column {
            width: 100vw;
            padding: 0 20px;
            hr {
                margin-left: -20px;
            }
        }

        @include compact-2col {

            & > .sidebar__column--left,
            & > .sidebar__column--right {
                box-sizing: border-box;
                width: 50vw;
                padding: 0 20px 30px 20px;
                float: left;
            }

        }

    }

}

.main {

    @include compact-view {
        margin-top: 30px;
    }

    flex: 1;
    flex-direction: column;

    padding: 1rem 1rem;

    overflow-x: hidden;

}

body.overlay .main {
    display: none;
}


// ==== helpers === ---- --- ---  -

.page-break {
    margin-top: 3.5rem;
}

.page-break-after {
    margin-bottom: 3.5rem;
}

