@import 'includes/_colors';
@import 'includes/_typography';

.md {

    img {
        max-width: 70%;
    }

    code {
        @include typo('monospace');
        background-color: rgba(0, 0, 0, 0.05);
    }

    &__link {
        color: $col-black;
        border-bottom: 1px dashed $col-gray;
        /*background-color: rgba(0,0,0, 0.05);*/

        &--type {
            @include typo('monospace', $weight:'bold');
            color: $col-prim2;
        }
    }

}

/*.md-inline {*/
/*}*/

