@import 'includes/_colors';
@import 'includes/_typography';

.md {

    margin-bottom: 2.5em;

    img {
        max-width: 70%;
    }

    code {
        @include typo('monospace', $size: $fontSizeTiny);
        background-color: rgba(0, 0, 0, 0.05);
    }

    &__link {
        color: $col-black;
        border-bottom: 1px dashed $col-gray;
        /*background-color: rgba(0,0,0, 0.05);*/

        &--type {
            @include typo('monospace', $size: $fontSizeTiny, $weight:'bold');
            color: $col-prim2;
        }
    }

    table {

        margin-top: 0.66em;

        border-collapse: separate;
        border-spacing: 2px;

        th, td {
            text-align: left;
        }
        th {
            background-color: $col-table-head-bg;
            border-bottom: 2px solid $col-table-border;
            padding: 0.5em 0.5em;
            @include typo('text', $weight: 'bold', $size: $fontSizeTiny);
            text-transform: uppercase;
        }
        td {
            border-bottom: 1px solid $col-table-border;
            padding: 0 0.5em;
            @include typo('text', $weight: 'normal', $size: $fontSizeSmall);
        }
    
    }

}

/*.md-inline {*/
/*}*/

