@import 'includes/_colors';
@import 'includes/_typography';

$pidIdlMonoFontSize: $fontSizeTiny;

.pid-idl {

    /*margin-left: 2rem;*/
    padding: 1em 1em;
    overflow: auto;

    &.pid__interface,
    &.pid__dictionary,
    &.pid__enum {
        border-radius: 8px;
    }

    &.pid__enum {
        background: linear-gradient(to bottom right, $col-prim0-light 0%, #ffffff 100%);
    }
    &.pid__dictionary {
        background: linear-gradient(to bottom right, $col-prim3-light 0%, #ffffff 100%);
    }
    &.pid__interface {
        background: linear-gradient(to bottom right, $col-prim1-light 0%, #ffffff 100%);
    }

    @include typo('monospace', $size: $pidIdlMonoFontSize);

    em {
        @include typo('monospace', $size: $pidIdlMonoFontSize, $style: 'italic');
    }

    strong {
        @include typo('monospace', $size: $pidIdlMonoFontSize, $weight: 'bold');
    }

    ul {
        list-style-type: none;

        margin: 0;
        padding: 0;

        &.pid-idl__group {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        & > li {
            margin: 0;
            padding: 0 0 0 3em;
        }

        &.pid-idl__func-args {

            & > li {
                padding-left: 1.5em;
            }

            &.args-1, &.args-2, &.args-3 {
                display: inline;
                & > li {
                    display: inline;
                    padding-left: 0;
                }
            }

        }
    }

    &__pre-block {
        margin-bottom: 0.5em;
    }

    &__block {
    }

    &__group {
        display: table;
    }

    &__attr,
    &__func {
        display: table-row;
    }

    &__readonly,
    &__keyword,
    &__type,
    &__name,
    &__args,
    &__default {
        display: table-cell;
        padding-right: 0.75em;
        white-space: nowrap;
    }

    &__readonly--blank {
        padding-right: 0;
    }

    &__func-arg {
        white-space: nowrap;
    }

    &__readonly {
    }

    &__keyword {
    }

    &__optional {
        @include typo('monospace', $size: $pidIdlMonoFontSize, $style: 'italic');
        display: inline-block;
        margin-left: 0.33em;
    }

    &__type-type,
    &__type-link {
        @include typo('monospace', $size: $pidIdlMonoFontSize, $style: 'italic');
    }

    &__type-link {
        color: $col-black;
        border-bottom: 1px dashed $col-gray;
        background-color: rgba(0,0,0, 0.05);
    }

    &__name {
        @include typo('monospace', $size: $pidIdlMonoFontSize, $weight: 'bold');
    }

    &__args {
    }

    &__args-name {
        color: $col-black;
        position: relative;

        &:after {
            content: ' ';
            display: block;
            position: absolute;
            bottom: -4px;
            left: -4px;
            right: -4px;
            height: 6px;
            background-color: $col-prim51;
            opacity: 0.55;
        }
    }

    &__default-value {
    }

    &__comment {
        @include typo('monospace', $size: $pidIdlMonoFontSize, $style: 'italic');
        color: $col-gray;
    }

}

