@import 'includes/_colors';
@import 'includes/_typography';

.pid__interface {

    .pid-attrs {
        &__name {
            color: $col-black;
            background-color: $col-prim0-light;
            &--readonly:after {
                color: $col-prim0-dark;
            }
        }
    }

}

.pid__dictionary {

    .pid-attrs__name {
        color: $col-black;
        background-color: $col-prim3-light;
    }

}

.pid__enum {

    .pid-attrs__name {
        color: $col-black;
        background-color: $col-prim1-light;
    }

}


.pid-attrs {

    margin-left: 2rem;

    &__name {
        display: inline-block;
        padding: 0 0.25em;

        @include typo('monospace', $weight: 'bold');

        &--readonly:after {
            content: "\f023";
            margin-left: 0.33em;
            font-family: FontAwesome;
        }
    }

    &__description {

        margin-bottom: 1em;

        & > p {
            margin: 0;
        }

    }

}

