@import 'includes/_colors';
@import 'includes/_typography';
@import 'includes/_media_queries';
@import 'includes/_layout_vars';

.sidebar__content {

    border-right: 1px solid $col-gray-light;

    .sidebar__column--head {
        margin-top: 160px;
    }

    .sidebar__column--footer {
        margin-top: 30px;
        text-align: center;
        img {
            width: 60px;
            image-rendering: pixelated;
        }
    }

    .toc__kind-of {
        width: 1.4em;
        height: 1.4em;
        display: inline-block;
        text-align: center;
        border-radius: 0.2em;
        margin-right: 0.2em;
        font-weight: bold;

        &--interface {
            color: $col-interface-fg;
            background-color:  $col-interface-bg;
        }

        &--dictionary {
            color: $col-dict-fg;
            background-color: $col-dict-bg;
        }

        &--enum {
            color: $col-enum-fg;
            background-color: $col-enum-bg;
        }
    }

    .logo {
        position: fixed;
        top: 0;
        left: 0;
        width: $sidebarWidth + (2 * $sidebarVertPad) - 40px;
        /*width: 125%;*/
        /*max-width: 125%;*/
        border: 0;
        /*margin-top: 20px;*/
        /*margin-left: -30px;*/
        /*margin-right: -30px;*/
        background-color: $col-white;
        padding: 10px 0 10px 20px;
        border-bottom: 1px dashed $col-border-2-white;  //$col-gray-light;
    }

    img.logo {
        /*image-rendering: crisp-edges;*/
        image-rendering: pixelated;
    }

    .package-version {
        display: block;
        /*text-align: right;*/
        /*margin-right: -20px;*/
        margin-top: -2em;
        @include typo('text', $weight: 'bold', $size: $fontSizeTiny);
        color: $col-dark;
    }

    h1 {
        margin-top: 0.5em;
        margin-bottom: 0;

        a {
            @include typo('text', $weight: 'normal', $size: 50px);
            color: $col-prim2;
            text-transform: uppercase;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    hr {
        border-top: 0;
        height: 0;
        border-bottom: 1px dashed $col-gray-light;
        margin-bottom: 1em;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 0;
        border-bottom: 0;

        a {
            @include typo('text', $weight: 'bold', $size: $fontSizeSmall);
            color: $col-prim1-dark;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .toc-sidebar ol {
        list-style-type: none;
        padding: 0;
    }

    .toc-sidebar ol > li > a {
        @include typo('text', $size: $fontSizeSmall);
        line-height: 28px;

        color: $col-dark;
        &:hover {
            text-decoration: underline;
        }
        text-decoration: none;
    }

}

