@import 'includes/_colors';
@import 'includes/_typography';
@import 'includes/_media_queries';

.sidebar__content {

    .logo {
        width: 100%;
        max-width: 100%;
        border: 0;
        margin-top: 20px;
    }

    img.logo {
        /*image-rendering: crisp-edges;*/
        image-rendering: pixelated;
    }

    .package-version {
        display: block;
        @include typo('text', $weight: 'normal', $size: $fontSizeTiny);
        color: $col-dark;
    }

    h1 {
        margin-top: 0.5em;
        margin-bottom: 0;

        a {
            @include typo('text', $weight: 'normal', $size: 50px);
            color: $col-prim2;
            text-transform: uppercase;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    hr {
        border-top: 0;
        height: 0;
        border-bottom: 1px dashed $col-gray-light;
        margin-bottom: 1em;
    }

    h2 {
        margin-top: 0;
        margin-bottom: 0;
        border-bottom: 0;

        a {
            @include typo('text', $weight: 'bold', $size: $fontSizeSmall);
            color: $col-prim1-dark;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .toc-sidebar ol {
        list-style-type: none;
        padding: 0;
    }

    .toc-sidebar ol > li > a {
        @include typo('text', $size: $fontSizeSmall);
        color: $col-dark;
        &:hover {
            text-decoration: underline;
        }
        text-decoration: none;
    }

}

