@import '_colors';
@import '_typography';
@import '_media_queries';
@import '_layout_vars';
@import '_utils';

.topbar__content {

    @include user-select(none);

    position: relative;

    .logo {
        border: 0;
        max-width: 100%;
        height: $headerHeight;
        margin-left: 10px;
    }

    .package-version {
        vertical-align: top;
        margin-top: 36px;
        display: inline-block;
        @include typo('text', $weight: 'normal', $size: $fontSizeTiny);
        color: $col-dark;
    }

    .menu-icon {
        position: absolute;
        top: 15px;
        right: 25px;
        height: 30px;
        width: 30px;
        font-size: 30px;
        cursor: pointer;
    }

}

.overlay {

    .topbar__content {
        .package-version {
            line-height: $headerExpandedHeight;
        }
    }

}


