@import 'includes/_colors';
@import 'includes/_typography';
@import 'includes/_media_queries';
@import 'includes/_layout_vars';

.topbar__content {

    position: relative;

    .logo {
        max-width: 100%;
        height: $headerHeight;
        margin-left: 10px;
        border: 0;
    }

    .package-version {
        vertical-align: top;
        margin-top: 36px;
        display: inline-block;
        @include typo('text', $weight: 'normal', $size: $fontSizeTiny);
        color: $col-dark;
    }

    .menu-icon {
        position: absolute;
        top: 15px;
        right: 25px;
        height: 30px;
        width: 30px;
        font-size: 30px;
        cursor: pointer;
    }

}

